<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DLSiri.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>DLSiriUI.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>MySiri.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>MySiriUI.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>TestForSwift.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CE10060E1DDEA90D00D7E05B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CE1006181DDEA90D00D7E05B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CE1006341DDEAAFA00D7E05B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CE10063D1DDEAAFB00D7E05B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CE5F38061C09F916002083F0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CE5F381A1C09F916002083F0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CE5F38251C09F916002083F0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
